name: Test Project

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
      
    steps:
      - name: Checkout
      - uses: actions/checkout@v5

      - name: Setup
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run
        env:
          SOME_SECRET: AAA
        run: python main.py
